


 /*.contenedor{*/
    /*.width: 80%;    /*largo slider*/
   /*. overflow: hidden;*/
/*.}*/

.slider-contenedor{
    width: 100%; /*largo de imagenes del slider*/
   display: flex;

}

.contenido-slider{
    
    width: 100%;/*largo de slider*/
    height: 580px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
     height:auto;
    position: relative;
   /* overflow: hidden;*/
}


.contenido-slider > img{
    width: 1500px;
}

.contenido-slider > div{
    width: 100%;
}

@media screen and (max-width:900px){
    .contenido-slider > img{
        width: 250px;
    }

    .contenido-slider > div{
        width: 40%;
    }

    .contenido-slider h2{
        font-size: 23px;
    }
}


@media screen and (max-width:600px){
    .contenido-slider{
       flex-direction: column-reverse;
    }

    .contenido-slider > div{
        width: 80%;
    }

}